name: $(BuildDefinitionName)_$(date:yyyyMMdd)$(rev:.r)

trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

parameters:
  - name: Action
    displayName: Action
    type: string
    default: 'Test'
    values:
      - Plan
      - Apply
      - Destroy
      - Test

variables:
  - group: WiseOldTurtleSP
  - group: terraform
  - name: directories
    value: "management,webapp,networking"
  - name: action
    value: ${{ parameters.Action }}

stages:
  - stage: BackendSetup
    displayName: 'Setup Terraform Backend'
    jobs:
      - job: SetupBackend
        displayName: 'Run Azure CLI Setup for Backend'
        steps:
          - checkout: self
          - script: |
              export TF_VAR_client_id=$(TF_VAR_client_id)
              export TF_VAR_client_secret=$(TF_VAR_client_secret)
              export TF_VAR_tenant_id=$(TF_VAR_tenant_id)
              export backendRGName=$(backendRGName)
              export backendStorageAccountName=$(backendStorageAccountName)
              export backendContainerName=$(backendContainerName)
              chmod +x $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/scripts/setup.sh
              $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/scripts/setup.sh
            displayName: 'Run Azure CLI Setup Script'

          - script: mkdir -p trivy-reports validation-reports
            displayName: "Create Directories for Reports"
          
          - script: |
              echo "Backend Resource Group: $backendRGName"
              echo "Backend Storage Account: $backendStorageAccountName"
              echo "Backend Container: $backendContainerName"
            displayName: "Print Environment Variables"

    # Run Security Scan Stage
  - stage: RunSecurityScan
    displayName: 'Run Security Scans'
    jobs:
      - job: Security
        displayName: 'Run Trivy Vulnerability Scan on Terraform Files'
        steps:
          - checkout: self
          - script: |
              sudo apt-get update
              sudo apt-get install rpm -y
              wget https://github.com/aquasecurity/trivy/releases/download/v0.20.0/trivy_0.20.0_Linux-64bit.deb
              sudo dpkg -i trivy_0.20.0_Linux-64bit.deb
              trivy -v
            displayName: 'Install Trivy Vulnerability Scanner'

          - script: |
              mkdir -p trivy-reports
              # Example Trivy scan (ensure proper file generation)
              for file in $(find $(System.DefaultWorkingDirectory)/AzureFunctions/terraform -name "*.tf"); do
                trivy config --severity LOW,MEDIUM,HIGH,CRITICAL \
                  --format json \
                  --output trivy-reports/$(basename $file)_scan.json "$file"
              done
            displayName: 'Run Trivy Scan'

          # Publish Trivy reports as artifacts
          - task: PublishBuildArtifacts@1
            displayName: 'Publish Trivy Reports'
            inputs:
              PathtoPublish: 'trivy-reports'
              ArtifactName: 'TrivyReports'
              publishLocation: 'Container'

  # Terraform Test Stage
  - stage: TerraformTest
    displayName: 'Test Terraform Code'
    condition: eq(variables['action'], 'Test')
    jobs:
    - job: ValidateAndFmt
      displayName: 'Validate and Format Terraform Code'
      steps:
        # Checkout repository
        - checkout: self

        # Run Terraform Validate
        - script: |
            mkdir -p validation-reports
            chmod +x $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/scripts/terraform_validate.sh
            $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/scripts/terraform_validate.sh > validation-reports/terraform-validate.log
          displayName: 'Run Terraform Validate Script'
          env:
            directories: $(directories) # Pass pipeline variable as environment variable

        # Run Terraform Format (Fmt)
        - script: |
            chmod +x $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/scripts/terraform_fmt.sh
            $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/scripts/terraform_fmt.sh > validation-reports/terraform-fmt.log
          displayName: 'Run Terraform Fmt Script'
          env:
            directories: $(directories) # Pass pipeline variable as environment variable

        # Publish validation reports
        - task: PublishBuildArtifacts@1
          displayName: 'Publish Terraform Validation Reports'
          inputs:
            PathtoPublish: 'validation-reports'
            ArtifactName: 'TerraformValidationReports'
            publishLocation: 'Container'

  # Terraform Plan Stage
  - stage: PlanResources
    displayName: 'Plan Terraform Resources'
    dependsOn:
      - TerraformTest  # Depends on the Test stage
    condition: and(succeeded(), eq(variables['action'], 'Plan'))  # Only run if Test was successful
    jobs:
      - job: PlanTerraform
        displayName: 'Plan Resources'
        steps:
          - checkout: self
          - script: mkdir -p plan-reports
            displayName: "Create Directories for Plan Reports"
          - script: |
              chmod +x $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/scripts/terraform_init.sh
              $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/scripts/terraform_init.sh $backendRGName $backendStorageAccountName $backendContainerName
            displayName: 'Initialize Terraform Backend'
          - script: |
              cd $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/management
              terraform plan -out=tfplan
            displayName: 'Terraform Plan (management)'

  # Terraform Apply Stage
  - stage: ApplyResources
    displayName: 'Apply Terraform Resources'
    condition: eq(variables['action'], 'Apply')
    jobs:
      - job: ApplyTerraform
        displayName: 'Apply Resources'
        steps:
          - checkout: self
          - task: Cache@2
            displayName: 'Cache Terraform Plugins'
            inputs:
              key: 'terraform|$(TF_WORKING_DIR)'
              path: $(TF_WORKING_DIR)/.terraform
              cacheHitVar: CACHE_RESTORED

          - script: |
              chmod +x $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/scripts/terraform_init.sh
              $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/scripts/terraform_init.sh $backendRGName $backendStorageAccountName $backendContainerName
            displayName: 'Initialize Terraform Backend'

          - script: |
              cd $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/management
              terraform apply -auto-approve tfplan
            displayName: 'Terraform Apply (management)'

          - ${{ each dir in split(variables.directories, ',') }}:
              - ${{ if ne(variables.dir, 'management') }}:
                - script: |
                    cd $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/${{ dir }}
                    terraform apply -auto-approve tfplan
                  displayName: 'Terraform Apply (${{ dir }})'

  # Terraform Destroy Stage
  - stage: DestroyResources
    displayName: 'Destroy Terraform Resources'
    condition: eq(variables['action'], 'Destroy')
    jobs:
      - job: DestroyTerraform
        displayName: 'Destroy Resources'
        steps:
          - checkout: self
          - task: Cache@2
            displayName: 'Cache Terraform Plugins'
            inputs:
              key: 'terraform|$(TF_WORKING_DIR)'
              path: $(TF_WORKING_DIR)/.terraform
              cacheHitVar: CACHE_RESTORED

          - script: |
              chmod +x $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/scripts/terraform_init.sh
              $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/scripts/terraform_init.sh $backendRGName $backendStorageAccountName $backendContainerName
            displayName: 'Initialize Terraform Backend'

          - script: |
              cd $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/management
              terraform destroy -auto-approve
            displayName: 'Terraform Destroy (management)'

          - ${{ each dir in split(variables.directories, ',') }}:
              - ${{ if ne(variables.dir, 'management') }}:
                - script: |
                    cd $(System.DefaultWorkingDirectory)/AzureFunctions/terraform/${{ dir }}
                    terraform destroy -auto-approve
                  displayName: 'Terraform Destroy (${{ dir }})'
